@using Ext.Net;
@using Ext.Net.MVC;
@using HQ.eSkyFramework;
@using HQ.eSkyFramework.HQControl;
@using AR20500;
@using HQ.eSkySys;
@model System.Collections.IEnumerable
@{
    Layout = null;
    var X = Html.X();
    var HQ = Html.HQ();
    ViewBag.Title = "AR20500";
    var acc = Session["AR20500"] as AccessRight;
   // eSkySysEntities _sys = Util.CreateObjectContext<eSkySysEntities>(true);

   //var objShowCust = _sys.SYS_Configurations.Where(p=>p.Code.ToUpper()=="AR205SHOWERPCUST").FirstOrDefault();
   //if (objShowCust != null)
   //{
   //    ViewBag.IsShowERPCust = objShowCust.IntVal == 1 ? true : false;
   //}
   //else {ViewBag.IsShowERPCust = false;   }
    
}
<!DOCTYPE html>
<html>
 <!--Không thay đổi phần head Đổi mã màn hình AR20500.js tùy theo màn hình đổi lại-->
<head>
    <meta name="viewport" content="width=device-width" />
    <script src='@Url.Content("Scripts/hq.language"+Current.LangID+".js?"+DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/hq.common.js?"+DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/screen/AR20500.js?"+DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>
     <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1KCqJiFRTtXsU2UxG3Zf7D55Gjft7JJI&libraries=drawing"></script>

    <style>
        .x-grid-row-over .x-grid-cell-inner {
            font-weight : bold;
        }
    </style>
     <style type="text/css">
            html {
                height: 100%;
            }
            body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
            #map_canvas {
                height: 100%;
            }
            .x-grid3-hd-inner {
                white-space: normal;
            }
            #content {
                line-height: 1.35;
                overflow: hidden;
                white-space: nowrap;
            }

            .row-FF0000 .x-grid-cell {
                color: #FF0000 !important;
            }
            .hightlight-row .x-grid-cell, .dirty-row .x-grid-rowwrap-div {
	            background-color: #CCFF33 !important;
            }
             .x-grid-with-row-lines .x-grid-td {
                 border-bottom-width: 1px;
                 height: 20px;
             }  
        </style>

    <script>

    HQ.cpnyID = '@Current.CpnyID';
    HQ.langID = '@Current.LangID';
    HQ.userName = '@Current.UserName';
    HQ.isUpdate = HQ.util.toBool('@acc.Update.ToString()');
    HQ.isInsert = HQ.util.toBool('@acc.Insert.ToString()');
    HQ.isDelete = HQ.util.toBool('@acc.Delete.ToString()');
    HQ.bussinessDate = new Date('@DateTime.Now.Date');
    HQ.EndDateYear = new Date('@DateTime.Now.Year', 11, 31);
    HQ.isShowCustHT = HQ.util.toBool('@ViewBag.IsShowCustHT');
    HQ.IsShowERPCust = HQ.util.toBool('@ViewBag.IsShowERPCust');
    HQ.IshowEditCust = HQ.util.toBool('@ViewBag.ShowEditCust');
    HQ.isRequiedReason = HQ.util.toBool('@ViewBag.IsRequiedReason');
    HQ.isShowReason = HQ.util.toBool('@ViewBag.IsShowReason');
    HQ.IsRequireRefCustID = HQ.util.toBool('@ViewBag.IsRequireRefCustID');
    HQ.ShowExport = HQ.util.toBool('@ViewBag.ShowExport');
    HQ.AllowSave = '@ViewBag.AllowSave';
    HQ.AllowApproveEditCust = '@ViewBag.AllowApproveEditCust';
    HQ.AllowEditContactName = '@ViewBag.AllowEditContactName';
    HQ.AllowEditReason = '@ViewBag.AllowEditReason';
    HQ.showSubRoute = HQ.util.toBool('@ViewBag.showSubRoute');
    HQ.showVisitsPerDay = HQ.util.toBool('@ViewBag.showVisitsPerDay');
    HQ.maxVisitPerDay = parseInt('@ViewBag.maxVisitPerDay');
    HQ.showTypeCabinnets = HQ.util.toBool('@ViewBag.showTypeCabinnets');
    HQ.showDisplayID = HQ.util.toBool('@ViewBag.showDisplayID');
    HQ.showStandID = HQ.util.toBool('@ViewBag.showStandID');
    HQ.showBrandID = HQ.util.toBool('@ViewBag.showBrandID');
    HQ.showSizeID = HQ.util.toBool('@ViewBag.showSizeID');
    HQ.showTaxCode = HQ.util.toBool('@ViewBag.showTaxCode');
    HQ.editPhone = HQ.util.toBool('@ViewBag.editPhone');
    HQ.showOUnit = parseInt('@ViewBag.showOUnit');
    HQ.showMobile = parseInt('@ViewBag.showMobile');
    HQ.hideMarketRoute = HQ.util.toBool('@ViewBag.hideMarketRoute');
    HQ.showClassCust = HQ.util.toBool('@ViewBag.showClassCust');
    HQ.MCPBranchRoute = HQ.util.toBool('@ViewBag.MCPBranchRoute');
    HQ.LimitedYear = parseInt('@ViewBag.limitedYear');
</script>  
    <title>@ViewBag.Title</title>
</head>
<body>   
    @(X.ResourceManager().Theme((Theme)Enum.Parse(typeof(Theme),Current.Theme.PassNull()==""?"Gray":Current.Theme.PassNull())))
     @HQ.Store().ID("stoAR20500_pdWeekofVisitAll").HQProcedure("AR20500_pdWeekofVisitAll").AutoLoad(false).HQDBSys(false).HQParam(new StoreParameterCollection() {
											                            new StoreParameter() { Name = "@LangID", Value ="HQ.langID", Mode = ParameterMode.Raw}                                                                        
						                            }).LoadData()
    @HQ.Store().ID("stoAR20500_pdSubRoute").HQProcedure("AR20500_pdSubRoute").AutoLoad(false).HQDBSys(false).HQParam(new StoreParameterCollection() {
                                                                        new StoreParameter() { Name = "@UserName", Value ="HQ.userName", Mode = ParameterMode.Raw},new StoreParameter() { Name = "@CpnyID", Value ="HQ.cpnyID", Mode = ParameterMode.Raw},new StoreParameter() { Name = "@LangID", Value ="HQ.langID", Mode = ParameterMode.Raw}
                                                    }).LoadData()
        @X.GridFilters()<!--Khi cache cho grid-->
        @X.ProgressBarPager()<!--Khi cache cho grid -->   
        <!-- Gọi hàm Body trong AR20500Controller để dựng view Body.cshtml, mục đích tạo cache. -->            
        @{Html.RenderAction("Body", new { lang=Current.LangID});}   
    
</body>
</html>
 