@using Ext.Net;
@using Ext.Net.MVC;
@using HQ.eSkyFramework;
@using HQ.eSkyFramework.HQControl;
@using SI21400;

@model System.Collections.IEnumerable
@{
    Layout = null;
    var X = Html.X();
    ViewBag.Title = "SI21400";
    var acc = Session["SI21400"] as AccessRight;
}
<!DOCTYPE html>
<html>
 <!--Không thay đổi phần head Đổi mã màn hình SI21400.js tùy theo màn hình đổi lại-->
<head>
    <meta name="viewport" content="width=device-width" />
    <script src='@Url.Content("Scripts/hq.language"+Current.LangID+".js")' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/hq.common.js")' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/Screen/SI21400.js")' type="text/javascript"></script>
    <style>
        .x-grid-row-over .x-grid-cell-inner {
            font-weight : bold;
        }
    </style>
    <script>
        HQ.cpnyID = '@Current.CpnyID';
        HQ.langID = '@Current.LangID';
        HQ.userName = '@Current.UserName';
        HQ.isUpdate = HQ.util.toBool('@acc.Update.ToString()');
        HQ.isInsert = HQ.util.toBool('@acc.Insert.ToString()');
        HQ.isDelete = HQ.util.toBool('@acc.Delete.ToString()');
    </script>  
    <title>@ViewBag.Title</title>
</head>
<body>   
    @(X.ResourceManager().Theme((Theme)Enum.Parse(typeof(Theme),Current.Theme.PassNull()==""?"Gray":Current.Theme.PassNull())))
        @X.GridFilters()<!--Khi cache cho grid-->
        @X.ProgressBarPager()<!--Khi cache cho grid -->   

        @(
            X.Store().ID("stoSI_Address").AutoLoad(false)
            .Model(Util.GenerateModel(typeof(SI_Address), "mdlSI_Address", "AddrID"))       
            .Proxy(
                    X.AjaxProxy()                
                    .Url(Url.Action("GetSI_Address", "SI21400"))                
                    .ActionMethods(action =>
                    {
                        action.Read = HttpMethod.POST;
                    })
                    .Reader(X.JsonReader().Root("data").TotalProperty("totaldata"))
                )
            .Parameters(ps =>
            {
                ps.Add(new StoreParameter("AddrID", "App.cboAddrID.getValue()", ParameterMode.Raw));
            })      
            .Listeners(l =>
                {
                    l.BeforeLoad.Fn = "stoBeforeLoad";
                    l.Load.Fn = "stoLoad";                   
                }
            )
        )
        <!-- Gọi hàm Body trong SI21400Controller để dựng view Body.cshtml, mục đích tạo cache. -->  
        @{Html.RenderAction("Body", new {lang=Current.LangID});}
</body>
</html>
 