@using Ext.Net;
@using Ext.Net.MVC;
@using HQ.eSkyFramework;
@using HQ.eSkyFramework.HQControl;
@using AR10300;

@model System.Collections.IEnumerable
@{
    Layout = null;
    var X = Html.X();
    var HQ = Html.HQ();
    ViewBag.Title = "AR10300";
    var acc = Session["AR10300"] as AccessRight;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src='@Url.Content("Scripts/hq.language"+Current.LangID+".js?"+DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/hq.common.js?"+DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/screen/AR10300.js?"+DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>

    <style>
        .x-grid-row-over .x-grid-cell-inner {
            font-weight : bold;
        }
    </style>
    <script>

        HQ.cpnyID = '@Current.CpnyID';
        HQ.langID = '@Current.LangID';
        HQ.userName = '@Current.UserName';
        HQ.businessDate = new Date();
        HQ.isRelease = HQ.util.toBool('@acc.Release.ToString()');
        HQ.isUpdate = HQ.util.toBool('@acc.Update.ToString()');
        HQ.isInsert = HQ.util.toBool('@acc.Insert.ToString()');
        HQ.isDelete = HQ.util.toBool('@acc.Delete.ToString()');

    </script>  
    <title>@ViewBag.Title</title>
</head>
<body>   
@(X.ResourceManager().Theme((Theme)Enum.Parse(typeof(Theme),Current.Theme.PassNull()==""?"Gray":Current.Theme.PassNull())))
        @X.GridFilters()<!--Khi cache cho grid-->
        @X.ProgressBarPager()<!--Khi cache cho grid -->   

 
   
@(
    X.Window().ID("winPopup").Title(Util.GetLang("SELBRANCHID"))
    .Resizable(false)
    .Width(350) 
    .Items(
        HQ.Combo().ID("cboPopupCpny").Name("BranchID").HQLangCode("BranchName")
        .HQProcedure("AR10300_pcBranch").HQColumnShow("BranchID,BranchName,Addr")
        .DisplayField("BranchName").ValueField("BranchID")
        .LabelWidth(130).Width(300).HQHeightWidth(400, 300).MarginSpec("10 0 10 0")
        .AllowBlank(false).BlankText(Util.GetLangPrefix("Input","BranchID"))
        .HQParam(new StoreParameterCollection(){
            new StoreParameter() { Name = "@UserID", Value = "HQ.userName", Mode = ParameterMode.Raw },
        })
        .ForceSelection(true)               
        .LoadData()
    )
    .Buttons(     
        X.Button().ID("btnPopupOk").Text(Util.GetLang("Ok"))
        .Listeners(p => p.Click.Fn = "btnPopupOk_Click")
    )
)


</body>
</html>
 