@using Ext.Net;
@using Ext.Net.MVC;
@using HQ.eSkyFramework;
@using HQ.eSkyFramework.HQControl;
@using AR10100;

@model System.Collections.IEnumerable
@{
    Layout = null;
    var X = Html.X();  
    ViewBag.Title = "AR10100";
    var acc = Session["AR10100"] as AccessRight;
}
<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width" />
    <script src='@Url.Content("Scripts/hq.language"+Current.LangID+".js?"+DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/hq.common.js?"+DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/screen/AR10100.js?"+DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>
<script>
    HQ.cpnyID = '@Current.CpnyID';
    HQ.langID = '@Current.LangID';
    HQ.userName = '@Current.UserName';
    HQ.isUpdate = HQ.util.toBool('@acc.Update.ToString()');
    HQ.isInsert = HQ.util.toBool('@acc.Insert.ToString()');
    HQ.isDelete = HQ.util.toBool('@acc.Delete.ToString()');
    HQ.businessDate = new Date('@DateTime.Now.Date');//lay ngay server trong controller
</script>
  <title>@ViewBag.Title</title>
    </head>
    <body>
@(Html.X().ResourceManager().Theme((Theme)Enum.Parse(typeof(Theme), Current.Theme.PassNull() == "" ? "Gray" : Current.Theme.PassNull())))

        @X.GridFilters()<!--Khi cache cho grid-->
        @X.ProgressBarPager()<!--Khi cache cho grid -->   


@(Html.X().Store().ID("stoAR10100_pdHeader").AutoLoad(false)
        .Model(Util.GenerateModel(typeof(AR10100_pdHeader_Result), "AR10100_pdHeaderModel", "RefNbr"))
        .Proxy(
            X.AjaxProxy()
            .Url(Url.Action("GetAR10100_pdHeader", "AR10100"))
            .ActionMethods(action =>
            {
                action.Read = HttpMethod.POST;
            })
            .Reader(X.JsonReader().Root("data").TotalProperty("totaldata"))
        )
        .Parameters(ps =>
        {
            ps.Add(new StoreParameter("BranchID", "App.txtBranchID.value", ParameterMode.Raw));
            ps.Add(new StoreParameter("BatNbr", "App.cboBatNbr.value", ParameterMode.Raw));
            
        })
        .Listeners(p =>
        {
            p.BeforeLoad.Fn = "stoAR10100_pdHeader_BeforeLoad";
            p.Load.Fn = "stoAR10100_pdHeader_Load";
        })
  )



  @(Html.X().Store().ID("stoAR10100_pgLoadTaxTrans").AutoLoad(false)   
                                .Model(Util.GenerateModel(typeof(AR10100_pgLoadTaxTrans_Result), "ModelAR10100_pgLoadTaxTrans_Result", ""))                                 
                                .Proxy(
                                        X.AjaxProxy()                
                                        .Url(Url.Action("GetAR10100_pgLoadTaxTrans", "AR10100"))                
                                        .ActionMethods(action =>
                                        {
                                            action.Read = HttpMethod.POST;
                                        })
                                        .Reader(X.JsonReader().Root("data").TotalProperty("totaldata"))
                                    ) 
                                .Parameters(ps =>
                                                {
                                                    ps.Add(new StoreParameter("branchID", "App.txtBranchID.getValue()", ParameterMode.Raw));
                                                    ps.Add(new StoreParameter("batNbr", "App.cboBatNbr.getValue()", ParameterMode.Raw));
                                                    ps.Add(new StoreParameter("refNbr", "App.txtRefNbr.getValue()", ParameterMode.Raw));
                                                })
                            .Listeners(p => p.Load.Handler = "loadstoAR10100_pgLoadTaxTrans();")       
   
        )

  
     @(Html.HQ().Store().ID("stoAR10100_pdSI_Tax").HQProcedure("AR10100_pdSI_Tax").HQDBSys(false).LoadData())

     @{Html.RenderAction("Body", new { lang=@Current.LangID});}
    </body>
</html>


