@using Ext.Net;
@using Ext.Net.MVC;
@using HQ.eSkyFramework;
@using HQ.eSkyFramework.HQControl;
@using IN20500;

@model System.Collections.IEnumerable
@{
    Layout = null;
    var X = Html.X();
    ViewBag.Title = "IN20500";
    var acc = Session["IN20500"] as AccessRight;
}
<!DOCTYPE html>
<html>
 <!--Không thay đổi phần head Đổi mã màn hình IN20500.js tùy theo màn hình đổi lại-->
<head>
    <meta name="viewport" content="width=device-width" />
    <script src='@Url.Content("Scripts/hq.language"+Current.LangID+".js?"+DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/hq.common.js?"+DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/screen/IN20500.js?"+DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>

    <style>
        .x-grid-row-over .x-grid-cell-inner {
            font-weight : bold;
        }
    </style>
    <script>
        HQ.cpnyID = '@Current.CpnyID';
        HQ.langID = '@Current.LangID';
        HQ.userName = '@Current.UserName';
        HQ.isUpdate = HQ.util.toBool('@acc.Update.ToString()');
        HQ.isInsert = HQ.util.toBool('@acc.Insert.ToString()');
        HQ.isDelete = HQ.util.toBool('@acc.Delete.ToString()');
        HQ.bussinessDate = new Date('@DateTime.Now.Date');
        HQ.IN20500Date = '@DateTime.Now.ToString(Current.FormatDate.Replace("/","").Replace(".","").Replace("-",""))';
    </script>  
    <title>@ViewBag.Title</title>
</head>
<body>   
    @(X.ResourceManager().Theme((Theme)Enum.Parse(typeof(Theme),Current.Theme.PassNull()==""?"Gray":Current.Theme.PassNull())))
        @X.GridFilters()<!--Khi cache cho grid-->
        @X.ProgressBarPager()<!--Khi cache cho grid -->   

        @(X.Store().ID("stoIN_Inventory").AutoLoad(false)
            .Model(Util.GenerateModel(typeof(IN20500_pdHeader_Result), "mdlIN20500_pdHeader", "",true,"StkItem"))       
            .Proxy(
                    X.AjaxProxy()                
                    .Url(Url.Action("GetIN_Inventory", "IN20500"))                
                    .ActionMethods(action =>
                    {
                        action.Read = HttpMethod.POST;
                    })
                    .Reader(X.JsonReader().Root("data").TotalProperty("totaldata"))
                )
            .Parameters(ps =>
            {
                ps.Add(new StoreParameter("InvtID", "App.cboInvtID.getValue()", ParameterMode.Raw));
            })      
            .Listeners(l =>
                {
                    l.BeforeLoad.Fn = "stoBeforeLoad";
                    l.Load.Fn = "stoLoad";                   
                }
            )
        )

        @(Html.HQ().Store().ID("stoProductCpny")
            .HQProcedure("IN20500_pdProductCpny")
            .LoadData()
        )

        @*@(Html.HQ().Store().ID("stoGetMaxHierarchyLevel").AutoLoad(false)
                .HQProcedure("IN20500_ppGetMaxHierarchyLevel")
                .HQParam(new StoreParameterCollection() {
                    new StoreParameter() { Name = "@Type", Value ="C", Mode = ParameterMode.Value}
                })
                .Listeners(p=>{
                    //p.BeforeLoad.Fn = "stoBeforeLoad";
                    p.Load.Fn = "stoGetMaxHierarchyLevel_Load";
                })
                .LoadData()
        )

        @(Html.HQ().Store().ID("stoCheckHiddenTree").AutoLoad(false)
            .HQProcedure("IN20500_ppCheckHiddenTree")
            .HQParam(new StoreParameterCollection() {
                new StoreParameter() { Name = "@CpnyID", Value ="App.cboCpnyID.getValue()", Mode = ParameterMode.Raw}
            })
            .Listeners(p=>{
                //p.BeforeLoad.Fn = "stoBeforeLoad";
                p.Load.Fn = "stoCheckHiddenTree_Load";
            })
            .LoadData()
        )*@

        <!-- Gọi hàm Body trong IN20500Controller để dựng view Body.cshtml, mục đích tạo cache. -->  
        @{Html.RenderAction("Body", new {lang=Current.LangID});}
</body>
</html>
 