@using Ext.Net;
@using Ext.Net.MVC;
@using HQ.eSkyFramework;
@using HQ.eSkyFramework.HQControl;
@using SA40100;

@model System.Collections.IEnumerable
@{
    Layout = null;
    var X = Html.X();
    ViewBag.Title = "SA40100";
    var acc = Session["SA40100"] as AccessRight;
}
<!DOCTYPE html>
<html>
 <!--Không thay đổi phần head Đổi mã màn hình SA40100.js tùy theo màn hình đổi lại-->
<head>
    <meta name="viewport" content="width=device-width" />
    <script src='@Url.Content("Scripts/hq.language"+Current.LangID+".js")' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/hq.common.js")' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/Screen/SA40100.js")' type="text/javascript"></script>
    <style>
        .x-grid-row-over .x-grid-cell-inner {
            font-weight : bold;

        }
        .row-pink .x-grid-cell{
            background-color: pink !important;
        }
        .row-orange .x-grid-cell{
            background-color: orange !important;
        }
        .row-red .x-grid-cell{
            background-color: red !important;
        }
        .row-yellow .x-grid-cell{
            background-color: yellow !important;
        }
        .row-none .x-grid-cell{
            background-color: none !important;
        }
    </style>

    <script>
        HQ.cpnyID = '@Current.CpnyID';
        HQ.langID = '@Current.LangID';
        HQ.userName = '@Current.UserName';
        HQ.isUpdate = HQ.util.toBool('@acc.Update.ToString()');
        HQ.isInsert = HQ.util.toBool('@acc.Insert.ToString()');
        HQ.isDelete = HQ.util.toBool('@acc.Delete.ToString()');
        var _dateServer = '@DateTime.Now.ToString("MM/dd/yyyy")';
    </script>  
    <title>@ViewBag.Title</title>
</head>
<body>   
    @(X.ResourceManager().Theme((Theme)Enum.Parse(typeof(Theme),Current.Theme.PassNull()==""?"Gray":Current.Theme.PassNull())))
        @X.GridFilters()<!--Khi cache cho grid-->
        @X.ProgressBarPager()<!--Khi cache cho grid -->   
        @(Html.X().Store().ID("stoGetDayCloseDateSetUp")
            .Model(Util.GenerateModel(typeof(SA40100_ppGetDayCloseDateSetUp_Result), "mdlSA40100_ppGetDayCloseDateSetUp", "BranchID"))       
            .Proxy(
                    X.AjaxProxy()                
                    .Url(Url.Action("GetDayCloseDateSetUp", "SA40100"))                
                    .ActionMethods(action =>
                    {
                        action.Read = HttpMethod.POST;
                    })
                    .Reader(X.JsonReader().Root("data").TotalProperty("totaldata"))
                )      
            //.Listeners(p=>p.Load.Handler="loadData()" )
        )
        @(Html.X().Store().ID("stoSYS_CloseDateHistHeader")
            .Model(Util.GenerateModel(typeof(SA40100_pfSYS_CloseDateHistHeader_Result), "mdlSA40100_pfSYS_CloseDateHistHeader", "HistID"))       
            .Proxy(
                    X.AjaxProxy()                
                    .Url(Url.Action("GetSYS_CloseDateHistHeader", "SA40100"))                
                    .ActionMethods(action =>
                    {
                        action.Read = HttpMethod.POST;
                    })
                    .Reader(X.JsonReader().Root("data").TotalProperty("totaldata"))
                )      
            .Listeners(p=>p.Load.Handler="loadData()" )
        )
        <!-- Gọi hàm Body trong SA40100Controller để dựng view Body.cshtml, mục đích tạo cache. -->  
        @{Html.RenderAction("Body", new {lang=Current.LangID});}
</body>
</html>
 