@using Ext.Net;
@using Ext.Net.MVC;
@using HQ.eSkyFramework
@using HQ.eSkyFramework.HQControl;
@using OM40200;

@{
    Layout = null;
    var X = Html.X();
    var HQ = Html.HQ();
}

@(
 X.Viewport()
    .Layout(LayoutType.Fit)
    .Items(

        X.FormPanel().ID("frmMain")
        .Layout(LayoutType.Border)
        .TrackResetOnLoad(true)
        .DefaultAnchor("100%")
        .KeyMap(Util.SetupKeyMap())
        .TopBar(Util.SetupToolbar(tools: new AbstractComponent[]{ }))
        .FieldDefaults(a => { a.LabelAlign = LabelAlign.Right; a.LabelWidth = 120; })
        .Listeners(p => {
            p.BoxReady.Fn = "frmMain_BoxReady";
        })
        .Items(

            X.Panel()
            .Border(false)
            .Region(Region.North)
            .Layout(LayoutType.VBox)
            .Items(
                X.FieldContainer()
                .MarginSpec("10 0 5 0")
                .Layout(LayoutType.HBox)
                .Items(

                    HQ.Combo().ID("cboProcessType")
                    .Name("ProcessType")
                    .HQLangCode("Type")
                    .HQProcedure("OM40200_pcProcessType")
                    .HQColumnShow("Code,Descr")
                    .DisplayField("Descr")
                    .ValueField("Code")
                    .Width(250)
                    .HQHeightWidth(400, 300)
                    .BlankText(Util.GetLangPrefix("Input","Type"))
                    .AllowBlank(false)
                    .ForceSelection(true)               
                    .HQParam(new StoreParameterCollection(){
                        new StoreParameter() { Name = "@LangID", Value = "HQ.langID", Mode = ParameterMode.Raw }
                    })
                    .HQControlFocus("txtFromDate")
                    .LoadData()
                    .Listeners(lst =>
                    {
                        lst.Change.Fn = "cboProcessType_Change";
                    }),   
                    
                    HQ.Combo().ID("cboBranchID").Name("BranchID").HQLangCode("BranchName")
                    .HQProcedure("OM40200_pcBranch").HQColumnShow("BranchID,BranchName,Addr")
                    .DisplayField("BranchID").ValueField("BranchID")
                    .Width(230).LabelWidth(120).HQHeightWidth(400, 300)
                    .AllowBlank(false).BlankText(Util.GetLangPrefix("Input", "BranchID"))
                    .HQParam(new StoreParameterCollection(){
                        new StoreParameter() { Name = "@UserID", Value = "HQ.userName", Mode = ParameterMode.Raw },
                    })
                    .Listeners(p => {
                        p.Change.Fn = "cboBranchID_Change";
                    })
                    .ForceSelection(true)
                    .LoadData()
                    .HQControlFocus("cboCustomer"),
                    
                    HQ.Combo().ID("cboDeliveryID")
                    .HQLangCode("DeliveryID")
                    .HQProcedure("OM40200_pcDeliveryID")
                    .HQColumnShow("SlsperID,Name")
                    .DisplayField("SlsperID")
                    .ValueField("SlsperID")
                    .Width(230)
                    .LabelWidth(100)
                    .HQHeightWidth(400, 300)
                    .ForceSelection(true)   
                    .Triggers(new FieldTrigger() { Icon = TriggerIcon.Clear, HideTrigger = false })            
                    .HQParam(new StoreParameterCollection(){
                        new StoreParameter() { Name = "@BranchID", Value = "App.cboBranchID.getValue()", Mode = ParameterMode.Raw }
                    })
                    .HQControlFocus("txtInvcDate")
                    .LoadData()
                    .Listeners(lst =>
                    {
                        lst.TriggerClick.Handler = "if (index == 0) { this.clearValue();}";
                    })

                ),

                X.FieldContainer()
                .Layout(LayoutType.HBox)
                .Items(
                    HQ.DateField().ID("txtFromDate")
                    .HQLangCode("FromDate")
                    .AllowBlank(false)
                    .BlankText(Util.GetLangPrefix("Input", "FromDate"))
                    .Width(250)
                    .HQControlFocus("txtToDate"),
                    
                    HQ.Combo().ID("cboCustomer")
                    .HQLangCode("CustID")
                    .HQProcedure("OM40200_pcCustomer")
                    .HQColumnShow("CustID,Name")
                    .DisplayField("CustID")
                    .ValueField("CustID")
                    .Width(230)
                    .LabelWidth(120)
                    .HQHeightWidth(400, 300)
                    .ForceSelection(true)   
                    .Triggers(new FieldTrigger() { Icon = TriggerIcon.Clear, HideTrigger = false })            
                    .HQParam(new StoreParameterCollection(){
                        new StoreParameter() { Name = "@BranchID", Value = "App.cboBranchID.getValue()", Mode = ParameterMode.Raw }
                    })
                    .HQControlFocus("cboSlsperID")
                    .LoadData()
                    .Listeners(lst =>
                    {
                        lst.TriggerClick.Handler = "if (index == 0) { this.clearValue();}";
                    }),
                    
                     HQ.DateField().ID("txtInvcDate")
                    .HQLangCode("InvcDate")
                    .AllowBlank(false)
                    .BlankText(Util.GetLangPrefix("Input", "InvcDate"))
                    .LabelWidth(100)
                    .Width(230)
                    .HQControlFocus("cboProcessType")
                ),

                X.FieldContainer()
                .Layout(LayoutType.HBox)
                .Items(
                     HQ.DateField().ID("txtToDate")
                    .HQLangCode("ToDate")
                    .AllowBlank(false)
                    .BlankText(Util.GetLangPrefix("Input", "ToDate"))
                    .Width(250)
                    .HQControlFocus("cboBranchID")
                    .Listeners(p => p.Focus.Handler = "HQ.focus='batch';"),
                    
                    HQ.Combo().ID("cboSlsperID")
                    .HQLangCode("SlsperID")
                    .HQProcedure("OM40200_pcSalesPerson")
                    .HQColumnShow("SlsperID,Name")
                    .DisplayField("SlsperID")
                    .ValueField("SlsperID")
                    .Width(230)
                    .LabelWidth(120)
                    .HQHeightWidth(400, 300)
                    .ForceSelection(true)   
                    .Triggers(new FieldTrigger() { Icon = TriggerIcon.Clear, HideTrigger = false })            
                    .HQParam(new StoreParameterCollection(){
                        new StoreParameter() { Name = "@BranchID", Value = "App.cboBranchID.getValue()", Mode = ParameterMode.Raw }
                    })
                    .HQControlFocus("cboDeliveryID")
                    .LoadData()
                    .Listeners(lst =>
                    {
                        lst.TriggerClick.Handler = "if (index == 0) { this.clearValue();}";
                    }),
                    
                     X.Button()
                    .ID("btnLoad")
                    .Text(Util.GetLang("LoadData"))
                    .Width(90)
                    .MarginSpec("0 0 0 45")
                    .Listeners(l=> l.Click.Fn = "btnLoad_Click"),
                    
                    X.Button()
                    .ID("btnProcess")
                    .Text(Util.GetLang("Handle"))
                    .Width(90)
                    .MarginSpec("0 0 10 5")
                    .Listeners(l=> l.Click.Fn = "btnProcess_Click")
                )
            ),

            X.GridPanel().ID("grdOrder")
            .Region(Region.Center)
            .ColumnLines(true)
            .RowLines(true)
            .Border(true)
            .BorderSpec("1 0 0 0")
            .StoreID("stoOrder")
            .ColumnModel(
                X.RowNumbererColumn(),

                X.CheckColumn()
                .RenderTpl(
                    X.XTemplate().Html(
                        @"<div id=""{id}-titleEl"" {tipMarkup}class=""x-column-header-inner"">
                            <span id=""{id}-textEl"" class=""x-column-header-text"">
                                <input id=""my-header-checkbox-{id}"" type=""checkbox"" class=""my-header-checkbox""></input>
                                {text}
                            </span>
                            <tpl if=""!menuDisabled"">
                                <div id=""{id}-triggerEl"" class=""x-column-header-trigger""></div>
                            </tpl>
                        </div>
                        {%this.renderContainer(out,values)%}"
                    )
                )
                .DataIndex("Sel")
                .Editable(true)
                .Width(45),
                                                
                X.Column()
                .DataIndex("OrderNbr")
                .Width(100)
                .Text(Util.GetLang("OrderNbr")),
                
                X.DateColumn()
                .DataIndex("OrderDate")
                .Width(100)
                .Text(Util.GetLang("OrderDate")),
                
                X.Column()
                .DataIndex("OrigOrderNbr")
                .Width(100)
                .Text(Util.GetLang("OrderPDA")),
                
                X.DateColumn()
                .DataIndex("ShipDate")
                .Width(100)
                .Text(Util.GetLang("ShipDate")),
                
                X.Column()
                .DataIndex("CustID")
                .Text(Util.GetLang("CustID")),
               
                X.Column()
                .DataIndex("CustName")
                .Text(Util.GetLang("CustName")),
              
                X.Column()
                .DataIndex("SlsPerID")
                .Text(Util.GetLang("SlsPerID")),
                
                X.Column()
                .DataIndex("DeliveryID")
                .Text(Util.GetLang("DeliveryID")),
                
                X.Column()
                .DataIndex("InvcNbr")
                .Text(Util.GetLang("InvcNbr")),
                
                X.Column()
                .Align(Alignment.Right)
                .DataIndex("OrdAmt")
                .Text(Util.GetLang("InvcAmt"))
                .Renderer("rdrTrans_QtyAmt"),
                
                X.Column()
                .DataIndex("Terms")
                .Text(Util.GetLang("Term"))               
                
            )
            .ColumnModel(act => { act.Listeners.HeaderClick.Fn = "grdOrder_HeaderClick"; })
            //.Listeners(lst =>
            //{
            //    lst.SelectionChange.Fn = "grdTrans_SelectionChange";
            //    lst.Edit.Fn = "grdTrans_Edit";
            //    lst.ValidateEdit.Fn = "grdTrans_ValidateEdit";
            //    lst.BeforeEdit.Fn = "grdTrans_BeforeEdit";
            //})
            .SelectionModel(X.RowSelectionModel().ID("smlOrder").Mode(SelectionMode.Single))
            .View(X.GridView().TrackOver(false))
            .Plugins(X.CellEditing().ClicksToEdit(1))
        )
    )
)

    