@using Ext.Net;
@using Ext.Net.MVC;
@using HQ.eSkyFramework;
@using HQ.eSkyFramework.HQControl;
@using AP10400;

@model System.Collections.IEnumerable
@{
    Layout = null;
    var X = Html.X();
    ViewBag.Title = "AP10400";
    var acc = Session["AP10400"] as AccessRight;
}
<!DOCTYPE html>
<html>
 <!--Không thay đổi phần head Đổi mã màn hình AP10400.js tùy theo màn hình đổi lại-->
<head>
    <meta name="viewport" content="width=device-width" />
    <script src='@Url.Content("Scripts/hq.language"+Current.LangID+".js?"+DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/hq.common.js?"+DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/screen/AP10400.js?"+DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>
    <style>
        .x-grid-row-over .x-grid-cell-inner {
            font-weight : bold;
        }
    </style>
    <script>
        HQ.cpnyID = '@ViewBag.BranchID';
        //HQ.cpnyID = '@Current.CpnyID';
        HQ.langID = '@Current.LangID';
        HQ.userName = '@Current.UserName';
        HQ.isUpdate = HQ.util.toBool('@acc.Update.ToString()');
        HQ.isInsert = HQ.util.toBool('@acc.Insert.ToString()');
        HQ.isDelete = HQ.util.toBool('@acc.Delete.ToString()');
        HQ.bussinessDate = new Date('@DateTime.Now.Date');

    </script>  
    <title>@ViewBag.Title</title>
</head>
<body>   
    @(X.ResourceManager().Theme((Theme)Enum.Parse(typeof(Theme),Current.Theme.PassNull()==""?"Gray":Current.Theme.PassNull())))
        @X.GridFilters()<!--Khi cache cho grid-->
        @X.ProgressBarPager()<!--Khi cache cho grid -->   

        @(X.Store().ID("stoHeader").AutoLoad(false)
            .Model(Util.GenerateModel(typeof(AP10400_pdHeader_Result), "mdlAP10400_pdHeader", ""))       
            .Proxy(
                    X.AjaxProxy()                
                    .Url(Url.Action("GetHeader", "AP10400"))                
                    .ActionMethods(action =>
                    {
                        action.Read = HttpMethod.POST;
                    })
                    .Reader(X.JsonReader().Root("data").TotalProperty("totaldata"))
                )
            .Parameters(ps =>
            {
                ps.Add(new StoreParameter("BranchID", "HQ.cpnyID", ParameterMode.Raw));
                ps.Add(new StoreParameter("BatNbr", "App.cboBatNbr.getValue()", ParameterMode.Raw));
            })      
            .Listeners(l =>
                {
                    l.BeforeLoad.Fn = "stoBeforeLoad";
                    l.Load.Fn = "stoLoad";                   
                }
            )
        )

        @*@(Html.HQ().Store().ID("stoGetPrice").AutoLoad(true)
        
        .HQProcedure("AP10400_pdGetPrice")
        .HQParam(new StoreParameterCollection() {
            new StoreParameter() { Name = "@BranchID", Value ="App.cboBranchID_Header.getValue()", Mode = ParameterMode.Raw},
            new StoreParameter() { Name = "@BrandID", Value ="App.cboBrandID.getValue()", Mode = ParameterMode.Raw},
            new StoreParameter() { Name = "@UserID", Value ="HQ.userName", Mode = ParameterMode.Raw},
        })
        .LoadData()
        .Listeners(l =>
                {
                    l.BeforeLoad.Fn = "stoBeforeLoad";
                    l.Load.Fn = "stoGetPrice_Load";
                }
            )
        )*@

        <!-- Gọi hàm Body trong AP10400Controller để dựng view Body.cshtml, mục đích tạo cache. -->  
        @{Html.RenderAction("Body", new {lang=Current.LangID});}
</body>
</html>
 