@using Ext.Net;
@using Ext.Net.MVC;
@using HQ.eSkyFramework;
@using HQ.eSkyFramework.HQControl;
@using IN20100;

@model System.Collections.IEnumerable
@{
    Layout = null;
    var X = Html.X();
    var HQ = Html.HQ();
    ViewBag.Title = "IN20100";
    var acc = Session["IN20100"] as AccessRight;
}
<!DOCTYPE html>
<html>
 <!--Không thay đổi phần head Đổi mã màn hình IN20100.js tùy theo màn hình đổi lại-->
<head>
    <meta name="viewport" content="width=device-width" />
    <script src='@Url.Content("Scripts/hq.language"+Current.LangID+".js?"+DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/hq.common.js?"+DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/screen/IN20100.js?" + DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>
    <style>
        .x-grid-row-over .x-grid-cell-inner {
            font-weight : bold;
        }
    </style>
    <script>
       
        HQ.cpnyID = '@Current.CpnyID';
        HQ.langID = '@Current.LangID';
        HQ.userName = '@Current.UserName';
        HQ.isUpdate = HQ.util.toBool('@acc.Update.ToString()');
        HQ.isInsert = HQ.util.toBool('@acc.Insert.ToString()');
        HQ.isDelete = HQ.util.toBool('@acc.Delete.ToString()');
        //HQ.isDelete = true;
        //HQ.isInsert = true;
        //HQ.isUpdate = true;


    </script>  
    <title>@ViewBag.Title</title>
</head>
<body>   
    @(X.ResourceManager().Theme((Theme)Enum.Parse(typeof(Theme),Current.Theme.PassNull()==""?"Gray":Current.Theme.PassNull())))
    
    @X.GridFilters()<!--Khi cache cho grid-->
    @X.ProgressBarPager()<!--Khi cache cho grid -->   
    <!-- Gọi hàm Body trong IN20100Controller để dựng view Body.cshtml, mục đích tạo cache. -->      
    @(
         HQ.Store().ID("stoUnitType").AutoLoad(false)
        .HQProcedure("IN20100_pcLoadUnitType")
        .HQParam(new StoreParameterCollection() { 
            new StoreParameter() { Name = "@LangID", Value = "HQ.langID" , Mode = ParameterMode.Raw }
        })
        .LoadData()
    )
    @(
         HQ.Store().ID("stoMultDiv").AutoLoad(false)
        .HQProcedure("IN20100_pcLoadMultDiv")
        .HQParam(new StoreParameterCollection() { 
            new StoreParameter() { Name = "@LangID", Value = "HQ.langID" , Mode = ParameterMode.Raw }
        })
        .LoadData()
    )
    @{Html.RenderAction("Body", new { lang=Current.LangID});}   

    
</body>
</html>
 