
@using Ext.Net;
@using Ext.Net.MVC;
@using HQ.eSkyFramework;
@using HQ.eSkyFramework.HQControl;
@using AR20400;

@model System.Collections.IEnumerable
@{
    Layout = null;
    var X = Html.X();
    var HQ = Html.HQ();
    ViewBag.Title = "AR20400";
    var acc = Session["AR20400"] as AccessRight;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
<link href="~/Content/ComboXTemplate.css" rel="stylesheet" />
   <script src='@Url.Content("Scripts/hq.language"+ Current.LangID + ".js")' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/hq.common.js")' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/Screen/AR20400.js")' type="text/javascript"></script>

<style type="text/css"> @*Thuoc tinh hover tren grid *@
    .x-grid-row-over .x-grid-cell-inner {
        font-weight : bold;
    }
</style>



@*<script type="text/javascript">
    jwplayer("myElement").setup({
        file: "https://www.youtube.com/watch?v=IvohXgIKTgU",
        image: "http://example.com/uploads/myPoster.jpg",
        width: 640,
        height: 360
    });
</script>*@
<script>






</script>
<script>
    HQ.cpnyID = '@Current.CpnyID';
    HQ.langID = '@Current.LangID';
    HQ.userName = '@Current.UserName';
    HQ.isUpdate = HQ.util.toBool('@acc.Update.ToString()');
    HQ.isInsert = HQ.util.toBool('@acc.Insert.ToString()');
    HQ.isDelete = HQ.util.toBool('@acc.Delete.ToString()');
    HQ.businessDate='@ViewBag.BusinessDate';
</script>
<title>@ViewBag.Title</title>
</head>
    <body>
@(Html.X().ResourceManager().Theme((Theme)Enum.Parse(typeof(Theme), Current.Theme.PassNull() == "" ? "Gray" : Current.Theme.PassNull())))

        @X.GridFilters()<!--Khi cache cho grid-->
        @X.ProgressBarPager()<!--Khi cache cho grid -->   

@(Html.X().Store().ID("storeFormBig").AutoLoad(false)
        .Model(Util.GenerateModel(typeof(AR_Customer), "AR_CustomerModel", "CustId,BranchID"))
        .Proxy(
            X.AjaxProxy()
            .Url(Url.Action("GetCustomer", "AR20400"))
            .ActionMethods(action =>
            {
                action.Read = HttpMethod.POST;
            })
            .Reader(X.JsonReader().Root("data").TotalProperty("totaldata"))
        )
        .Parameters(ps =>
        {
            ps.Add(new StoreParameter("CustId", "App.cboCustId.value", ParameterMode.Raw));
            ps.Add(new StoreParameter("BranchID", "App.cboCpnyID.value", ParameterMode.Raw));
        })
        .Listeners(p => 
            {
                p.BeforeLoad.Fn = "storeBeforeLoad";    
                p.Load.Fn = "storeLoad";
                
                
            })
  )










        @{Html.RenderAction("Body", new { lang=@Current.LangID});}
    </body>
</html>
