@using HQ.eSkyFramework;
@using Ext.Net;
@using Ext.Net.MVC;
@*@using OM20300.Models;*@
@using OM20300;

@{
    Layout = null;
    ViewBag.Title = "OM20300";
    var X = Html.X();
    var acc = Session["OM20300"] as AccessRight;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src='@Url.Content("Scripts/hq.language"+Current.LangID+".js?"+DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/hq.common.js?"+DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/screen/OM20300.js?"+DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>

    <script>
        HQ.cpnyID = '@Current.CpnyID';
        HQ.langID = '@Current.LangID';
        HQ.userName = '@Current.UserName';
        //HQ.businessDate = new Date();
        HQ.bussinessDate = new Date('@DateTime.Now.Date');
        HQ.isRelease = HQ.util.toBool('@acc.Release.ToString()');
        HQ.isUpdate = HQ.util.toBool('@acc.Update.ToString()');
        HQ.isInsert = HQ.util.toBool('@acc.Insert.ToString()');
        HQ.isDelete = HQ.util.toBool('@acc.Delete.ToString()');
        HQ.beginStatus = '@ViewBag.BeginStatus';
        HQ.endStatus = '@ViewBag.EndStatus';
        HQ.roles = '@ViewBag.Roles';
    </script>  
    <title>@ViewBag.Title</title>
</head>
<body>
    @(X.ResourceManager().Theme((Theme)Enum.Parse(typeof(Theme), Current.Theme.PassNull() == "" ? "Default" : Current.Theme.PassNull())))
    
        @X.GridFilters()<!--Khi cache cho grid-->
        @X.ProgressBarPager()<!--Khi cache cho grid -->   
        <!-- Gọi hàm Body trong OM24000Controller để dựng view Body.cshtml, mục đích tạo cache. -->    

        @{Html.RenderAction("Body", new { lang=Current.LangID});}  
</body>
</html>
