@using Ext.Net;
@using Ext.Net.MVC;
@using HQ.eSkyFramework;
@using HQ.eSkyFramework.HQControl;
@using AR22300;

@model System.Collections.IEnumerable
  
@{
    Layout = null;
    var X = Html.X();
    ViewBag.Title = "AR22300";
    var acc = Session["AR22300"] as AccessRight;
    var HQ = Html.HQ();
}
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <link href="~/Content/ComboXTemplate.css" rel="stylesheet" />
        <script src='@Url.Content("Scripts/hq.language"+Current.LangID+".js")' type="text/javascript"></script>
        <script src='@Url.Content("Scripts/hq.common.js")' type="text/javascript"></script>
        <script src='@Url.Content("Scripts/Screen/AR22300.js")' type="text/javascript"></script>

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1KCqJiFRTtXsU2UxG3Zf7D55Gjft7JJI&sensor=false&libraries=drawing"></script>

        <script type="text/javascript">
            HQ.cpnyID = '@Current.CpnyID';
            HQ.langID = '@Current.LangID';
            HQ.userName = '@Current.UserName';
            HQ.isUpdate = HQ.util.toBool('@acc.Update.ToString()');
            HQ.isInsert = HQ.util.toBool('@acc.Insert.ToString()');
            HQ.isDelete = HQ.util.toBool('@acc.Delete.ToString()');
        </script>
        <style type="text/css">
            html {
                height: 100%;
            }
            body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
            #map_canvas {
                height: 100%;
            }
            .x-grid3-hd-inner {
                white-space: normal;
            }
            #content {
                line-height: 1.35;
                overflow: hidden;
                white-space: nowrap;
            }

            .row-FF0000 .x-grid-cell {
                color: #FF0000 !important;
            }
        </style>


    </head>
    <body>
        @(X.ResourceManager()
        .ShowWarningOnAjaxFailure(false)
        .Theme((Theme)Enum.Parse(typeof(Theme), Current.Theme.PassNull() == "" ? "Gray" : Current.Theme.PassNull())))

        @( X.Store().ID("stoMCP")
                //.RemotePaging(true).PageSize(50)
            .AutoLoad(false)
            .Model(Util.GenerateModel(typeof(AR22300_pgMCP_Result), "mdlMCP", ""))
            .ServerProxy(X.AjaxProxy().Url(Url.Action("LoadMCP", "AR22300")))
            .Parameters(ps =>
            {
                ps.Add(new StoreParameter("channel", "", ParameterMode.Value));
                ps.Add(new StoreParameter("territory", "App.cboAreaPlan.value", ParameterMode.Raw));
                ps.Add(new StoreParameter("province", "App.cboProvincePlan.value", ParameterMode.Raw));
                ps.Add(new StoreParameter("distributor", "App.cboDistributorPlan.value", ParameterMode.Raw));
                ps.Add(new StoreParameter("shopType", "", ParameterMode.Value));
                ps.Add(new StoreParameter("slsperId", "App.cboSalesManPlan.value", ParameterMode.Raw));
                ps.Add(new StoreParameter("daysOfWeek", "App.cboDayOfWeek.value", ParameterMode.Raw));
                ps.Add(new StoreParameter("weekOfVisit", "App.cboWeekOfVisit.value", ParameterMode.Raw));
            })
            .Listeners(l => {
                l.BeforeLoad.Handler = "App.frmMain.getEl().mask('Loading Maps', 'x-mask-loading');";
                l.Load.Fn = "Event.Store.stoMCP_load"; 
            })
        )

         
        @(
            X.ToolTip()
            .Target("={App.grdMCP.getView().el}")
            .TrackMouse(true)
            .Delegate(".x-grid-cell")
            .Listeners(l=>l.Show.Handler="HQ.tooltip.showOnGrid(this, App.grdMCP, false);")
        )

        @X.GridFilters() <!--Khi cache cho grid-->
        @X.ProgressBarPager() <!--Khi cache cho grid -->

        <!-- Gọi hàm Body trong OM22001Controller để dựng view Body.cshtml, mục đích tạo cache. -->
        @{ Html.RenderAction("Body", new { lang = Current.LangID }); }
        )
    </body>
</html>