@using Ext.Net;
@using Ext.Net.MVC;
@using HQ.eSkyFramework;
@using HQ.eSkyFramework.HQControl;
@using AP10300;

@model System.Collections.IEnumerable
@{
    Layout = null;
    var X = Html.X();
    ViewBag.Title = "AP10300";
    var acc = Session["AP10300"] as AccessRight;
}
<!DOCTYPE html>
<html>
 <!--Không thay đổi phần head Đổi mã màn hình AP10300.js tùy theo màn hình đổi lại ?"+DateTime.Now.ToString("yyyyMMddss")-->
<head>
    <meta name="viewport" content="width=device-width" />
   <script src='@Url.Content("Scripts/hq.language"+Current.LangID+".js?"+DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/hq.common.js?"+DateTime.Now.ToString("yyyyMMddss"))' type="text/javascript"></script>
    <script src='@Url.Content("Scripts/screen/AP10300.js")' type="text/javascript"></script>
    <style>
        .x-grid-row-over .x-grid-cell-inner {
            font-weight : bold;
        }
    </style>
    <script>
       
        HQ.cpnyID = '@ViewBag.BranchID';
        HQ.langID = '@Current.LangID';
        HQ.userName = '@Current.UserName';
        HQ.businessDate = new Date();
        HQ.isUpdate = HQ.util.toBool('@acc.Update.ToString()');
        HQ.isInsert = HQ.util.toBool('@acc.Insert.ToString()');
        HQ.isDelete = HQ.util.toBool('@acc.Delete.ToString()');      
    </script>  
    <title>@ViewBag.Title</title>
</head>
<body>   
    @(X.ResourceManager().Theme((Theme)Enum.Parse(typeof(Theme),Current.Theme.PassNull()==""?"Gray":Current.Theme.PassNull())))
  
       @(Html.X().Store().ID("stoBatch").AutoLoad(false)
        .Model(Util.GenerateModel(typeof(Batch), "mdlBatch", ""))
        .Proxy(
            X.AjaxProxy()
            .Url(Url.Action("GetBatch", "AP10300"))
            .ActionMethods(action =>
            {
                action.Read = HttpMethod.POST;
            })
            .Reader(X.JsonReader().Root("data").TotalProperty("totaldata"))
        )
        .Parameters(ps =>
        {
            ps.Add(new StoreParameter("BranchID", "App.txtBranchID.value", ParameterMode.Raw));
            ps.Add(new StoreParameter("BatNbr", "App.cboBatNbr.value", ParameterMode.Raw));
            
        })
       .Listeners(p => p.Load.Fn = "stoBach_load")
  )

    @(Html.X().Store().ID("stoAP_Adjust").AutoLoad(false)
        .Model(Util.GenerateModel(typeof(AP_Adjust), "mdlAP_Adjust", ""))
        .Proxy(
            X.AjaxProxy()
            .Url(Url.Action("GetAP_Adjust", "AP10300"))
            .ActionMethods(action =>
            {
                action.Read = HttpMethod.POST;
            })
            .Reader(X.JsonReader().Root("data").TotalProperty("totaldata"))
        )
        .Parameters(ps =>
        {
            ps.Add(new StoreParameter("BranchID", "App.txtBranchID.value", ParameterMode.Raw));
            ps.Add(new StoreParameter("BatNbr", "App.cboBatNbr.value", ParameterMode.Raw));
        })
        .Listeners(p => p.Load.Fn = "stoAPAdjust_load")
  )
        @X.GridFilters()<!--Khi cache cho grid-->
        @X.ProgressBarPager()<!--Khi cache cho grid -->   
        <!-- Gọi hàm Body trong AP10300Controller để dựng view Body.cshtml, mục đích tạo cache. -->            
        @{Html.RenderAction("Body", new { lang=@Current.LangID});}   
    
</body>
</html>
 