@using Ext.Net;
@using Ext.Net.MVC;
@using eBiz4DWebFrame;
@using eBiz4DWebFrame.HQControl;
@using AP10300;

@model System.Collections.IEnumerable
@{
    Layout = null;
    var X = Html.X();
    var HQ = Html.HQ();
    ViewBag.Title = "AP10300";
    var acc = Session["AP10300"] as AccessRight;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
<link href="~/Content/ComboXTemplate.css" rel="stylesheet" />
<script src="~/Scripts/common.js"></script>
<script src='@Url.Content("Scripts/Screen/AP10300.js")' type="text/javascript"></script>
<style type="text/css"> @*Thuoc tinh hover tren grid *@
    .x-grid-row-over .x-grid-cell-inner {
        font-weight : bold;
    }
</style>
<script>
    var isAllValid = function (items) {
        if (items != undefined) {
            for (var i = 0; i < items.length; i++) {
                if (items[i]["TranAmt"] == undefined)
                    continue;
                if (items[i]["TranAmt"] == "")
                    continue;

                if (items[i]["TranAmt"] == 0) {
                    callMessage(15, '@Util.GetLang("TranAmt")', null);
                return false;
            }


        }
        return true;
    }
    else {
        return true;
    }
    };

</script>
<script>
    var isUpdate = strToBool('@acc.Update.ToString().ToLower()');
    var isInsert = strToBool('@acc.Insert.ToString().ToLower()');
    var isDelete = strToBool('@acc.Delete.ToString().ToLower()');
</script>
  <title>@ViewBag.Title</title>
    </head>
    <body>
@(Html.X().ResourceManager().Theme((Theme)Enum.Parse(typeof(Theme), Current.Theme.PassNull() == "" ? "Gray" : Current.Theme.PassNull())))


@(Html.X().Store().ID("storeFormTop").AutoLoad(false)
        .Model(Util.GenerateModel(typeof(Batch), "BatchClassModel", "BranchID,Module,BatNbr"))
        .Proxy(
            X.AjaxProxy()
            .Url(Url.Action("GetDataFormTop", "AP10300"))
            .ActionMethods(action =>
            {
                action.Read = HttpMethod.POST;
            })
            .Reader(X.JsonReader().Root("data").TotalProperty("totaldata"))
        )
        .Parameters(ps =>
        {
            ps.Add(new StoreParameter("BranchID", "App.txtBranchID.value", ParameterMode.Raw));
            ps.Add(new StoreParameter("BatNbr", "App.cboBatNbr.value", ParameterMode.Raw));
            
        })
        .Listeners(p => p.Load.Handler = "loadDataAutoHeaderTop()")
  )


@(Html.X().Store().ID("storeFormBot").AutoLoad(false)
        .Model(Util.GenerateModel(typeof(AP_Adjust), "AAP_AdjustModel", ""))
        .Proxy(
            X.AjaxProxy()
            .Url(Url.Action("GetDataFormBot", "AP10300"))
            .ActionMethods(action =>
            {
                action.Read = HttpMethod.POST;
            })
            .Reader(X.JsonReader().Root("data").TotalProperty("totaldata"))
        )
        .Parameters(ps =>
        {
            ps.Add(new StoreParameter("BranchID", "App.txtBranchID.value", ParameterMode.Raw));
            ps.Add(new StoreParameter("BatNbr", "App.cboBatNbr.value", ParameterMode.Raw));
        })
        .Listeners(p => p.Load.Handler = "loadDataAutoHeaderBot()")
  )
@(Html.X().Store().ID("storeGrid1").AutoLoad(false)
        .Model(Util.GenerateModel(typeof(AP10300_LoadGridAdjg_Result), "AP10300_LoadGridAdjg_ResultModel", "InvcNbr,BatNbr,RefNbr,DocBal,VendID,Descr"))
        .Proxy(
            X.AjaxProxy()
            .Url(Url.Action("GetDataGrid1", "AP10300"))
            .ActionMethods(action =>
            {
                action.Read = HttpMethod.POST;
            })
            .Reader(X.JsonReader().Root("data").TotalProperty("totaldata"))
        )
            .Parameters(ps =>
                            {
                                ps.Add(new StoreParameter("BatNbr", "App.cboBatNbr.value", ParameterMode.Raw));
                                ps.Add(new StoreParameter("BranchID", "App.txtBranchID.value", ParameterMode.Raw));
                                ps.Add(new StoreParameter("VendID", "App.cboVendID.value", ParameterMode.Raw));
                                ps.Add(new StoreParameter("DocType", "App.cboDocType.value", ParameterMode.Raw));
                            })
        .Listeners(p => p.Load.Handler = "waitstoreGrid1Reload()")
  )

@(Html.X().Store().ID("storeGrid2").AutoLoad(false)
        .Model(Util.GenerateModel(typeof(AP10300_LoadGridAdjd_Result), "AP10300_LoadGridAdjd_ResultModel", "InvcNbr,BatNbr,RefNbr,DocBal,VendID,Descr"))
        .Proxy(
            X.AjaxProxy()
            .Url(Url.Action("GetDataGrid2", "AP10300"))
            .ActionMethods(action =>
            {
                action.Read = HttpMethod.POST;
            })
            .Reader(X.JsonReader().Root("data").TotalProperty("totaldata"))
        )
            .Parameters(ps =>
                            {
                                ps.Add(new StoreParameter("BatNbr", "App.cboBatNbr.value", ParameterMode.Raw));
                                ps.Add(new StoreParameter("BranchID", "App.txtBranchID.value", ParameterMode.Raw));
                                ps.Add(new StoreParameter("VendID", "App.cboVendID.value", ParameterMode.Raw));
                            })
        .Listeners(p => p.Load.Handler = "waitstoreGrid2Reload()")
  )
     @{ Html.RenderAction("Body"); }
    </body>
</html>


